body {
	font-family: 'Oswald', 'Helvetica Neue', arial;
	font-weight: 100;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
	margin: 0;
	color: rgba(0,0,0,.7);
	background: cyan;
}

h2 {
	letter-spacing: 2px;
	padding: 5px;
	color: rgba(255,255,255,.9);
	font-size: 3em;
	margin: 0;
	font-weight: 300;
	text-transform: uppercase;
}

p.controls {
	background: rgba(0,0,0,.1);
	padding: 10px;
	margin: 0;
	letter-spacing: 1px;
}

p.controls button {
	padding: 7px;
}

input {
	background: none;
	border: 1px solid rgba(255,255,255,.8);
	padding: 7px;
	width: 50px;
	text-align: center;
}

.clear {
	clear: both;
}

div#app {
	background: rgba(0,0,0,.1);
	width: 40%;
	margin: 0 auto;
	margin-top: 20px;
	padding-bottom: 20px;
	border-radius: 20px;
	box-shadow: 10px 10px rgba(0,0,0,.3);
}

h1 {
	font-family: 'Oswald', 'Helvetica Neue', arial;
	font-weight: 300;
	font-size: 4em;
	letter-spacing: 5px;
	color: rgba(255,255,255,.8);
	margin: 10px 0 -30px 0;
}

p.large {
	font-size: 10em;
	font-family: 'Oswald', 'Helvetica Neue', arial;
	color: rgba(0,0,0,.5);
	margin: 20px;
}

button, input {
	color: rgba(255,255,255,.9);
	font-size: 1em;
	border-radius: 10px;
}

button {
	padding: 15px 25px;
	border: none;
	background: rgba(0,0,0,.3);
	letter-spacing: 1px;
	font-family: 'Oswald', 'Helvetica Neue', arial;
	text-transform: uppercase;
}

button:hover {
	cursor: pointer;
	background: rgba(0,0,0,.15);
}

@media (max-width: 767px) {

	div#app {
		width: 90%;
	}

	p#title {
		float: none;
		text-align: center;
		border-bottom: 1px solid rgba(255,255,255,.9);
		margin-bottom: 20px;
	}

	p#time {
		float: none;
		text-align: center;
	}

	p#time input {
		padding: 5px 5px;
		font-size: .8em;
	}

	p#time button {
		padding: 2px 20px;
	}

	h1, p.large {
		margin: 0;
	}

	p.large {
		font-size: 4em;
	}
}
