body {
	font-family: 'Helvetica Neue', arial;
	font-weight: 100;
	text-align: center;
	width: 100%;
	margin: 0;
	color: rgba(0,0,0,.7);
	background: cyan;
}

nav {
	background: rgba(0,0,0,.3);
	text-align: left;
	letter-spacing: 2px;
	padding: 5px;
	color: #eee;
}

nav p {
	margin: 0;
}

nav p.left {
	float: left;
	color: rgba(255,255,255,.9);
	font-size: 2em;
	font-family: 'Oswald', 'Helvetica Neue', arial;
	font-weight: 300;
	margin-bottom: 0;
	text-transform: uppercase;
}

nav p.right {
	float: right;
}

nav p input {
	background: none;
	border: 1px solid rgba(255,255,255,.8);
	padding: 10px;
	width: 50px;
	text-align: center;
}

nav p button {
	padding: 10px;
}

.clear {
	clear: both;
}

h1 {
	font-family: 'Oswald', 'Helvetica Neue', arial;
	font-weight: 300;
	font-size: 4em;
	letter-spacing: 5px;
	color: rgba(255,255,255,.8);
	margin-bottom: -30px;
	text-transform: uppercase;
}

p.large {
	font-size: 5em;
}

button, input {
	color: rgba(255,255,255,.9);
	font-size: 1em;
	border-radius: 10px;
}

button {
	padding: 15px 25px;
	border: none;
	background: rgba(0,0,0,.3);
	letter-spacing: 1px;
	font-family: 'Oswald', 'Helvetica Neue', arial;
	text-transform: uppercase;
}

button:hover {
	cursor: pointer;
	background: rgba(0,0,0,.15);
}
